@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-base: #ffff;
		--color-text-mute: #ffff;
		--color-text-inverted: #ffff;
		--color-text-base: #ffff;
		--color-text-base: #ffff;
	}
	.theme-light {
		--color-text-base: #ffff;
		--color-text-mute: #ffff;
		--color-text-inverted: #ffff;
		--color-text-base: #ffff;
		--color-text-base: #ffff;
	}
	.theme-dark {
	}
}
